<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    
</head>
<body>
    <div class="card" >
        
        <table id="mes" cellspacing="0">
            
            <thead class="cabecalho" >
                  
                <th colspan="7">
                    <i class="esquerda" onclick="preencheMesAnterior()"></i>
                    <h2 id="mesCorrente" id-mes id-ano style="display: inline;"> mes </h2>
                    <i class="direita" onclick="preencheProximoMes()"></i>
                    
                </th>
            </thead>
            <thead class="diasSemana">
                <th>Dom</th>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sáb</th>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>        
</div>

</body>
<script src="/js/js.js" >
</script>
<script type="text/javascript" >
    preencheTabela()
</script>

</html>